footer#layout-footer
  .sociallink
    a.linkedin(href='http://www.linkedin.com/in/bernardoantunes', target='_blank') LinkedIn
  .sociallink
    a.wordpress(href='http://bernardoantunes.wordpress.com', target='_blank') Wordpress
  .sociallink
    a.twitter(href='http://twitter.com/tlootno', target='_blank') Twitter
  .sociallink
    a.youtube(href='http://www.youtube.com/user/tlootno', target='_blank') YouTube
  .sociallink
    a.google(href='https://plus.google.com/+BernardoAntunes', target='_blank') Google+
  .sociallink
    a.facebook(href='http://www.facebook.com/bernardo.miguel.antunes', target='_blank') Facebook
  #copyright
    p © {{ site.time | date: '%Y' }} Bernardo Antunes.
    // <p>Please read <a href="/license">the license page</a> for details about the licenses of this website's content.</p>
