nav#mainnav
    ul.menu.menu-main
        li
            a(href='/') Home
        li
            a(href='/notes') Notes
        li
            a(href='/cv') CV
        li
            a(href='/about') About

header#layout-header
    a#logoandname(href='/')
        span#headerName Bernardo Antunes
        span#headerTitle thinker, father & world citizen