section#latest-projects
  header#latest-projects-title
    h2 Lastest projects
  a#project-asDesigned(href='http://asdesigned.bernardoantunes.com')
    .project-title
      img(src='/images/projects/asDesigned.png', alt='asDesigned Logo')
      h2 asDesigned
    p
      | A proof of concept to show the current limitations of responsive design and how it can be solved. asDesigned gives back the power to the designers so that they can make their design to be asDesigned.
  a#project-unitgs(href='http://unit.gs')
    .project-title
      img(src='/images/projects/unitgs.png', alt='Unit Grid System Logo')
      h2 Unit Grid System
    p
      | An Unitless, Fluid, Elastic, Semantic, Responsive, Scalable, Debuggable, Declarative, Simple to use Grid System! And... HTML5 and CSS3 Ready!
